@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.btn{
    background-color: #ffffff00;
    border: none;
    top: -1px;
    right: 5px;
    position: absolute;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
}